body{
    background-image: url("../img/background-eventos.jpg");
    background-size: 1520px 856px; 
}

.float-right{
    color: red
}

h2{
    color: #FCA205;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.col-md-5{
    margin-left: 200px;
}
.container{

    margin-bottom: 105px;

}

#card1{
    padding: 10px;
    margin-left: 200px;
}

#card2{
    flex: 1 1 auto;
    padding: 1.25rem;
}